@font-face{
    font-family: 'Geometria-Heavy';
    src: url('../fonts/Geometria-Heavy.ttf');
}

@font-face{
    font-family: 'Geometria-Bold';
    src: url('../fonts/Geometria-Bold.ttf');
}

@font-face{
    font-family: 'Geometria-ExtraBold';
    src: url('../fonts/Geometria-ExtraBold.ttf');
}

@font-face{
    font-family: 'Geometria-Medium';
    src: url('../fonts/Geometria-Medium.ttf');
}

@font-face{
    font-family: 'Geometria';
    src: url('../fonts/Geometria.ttf');
}

@font-face{
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.ttf');
}

@font-face{
    font-family: 'ProximaNova-Bold';
    src: url('../fonts/ProximaNova-Bold.otf');
}

@font-face{
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova-Regular.ttf');
}

#header{
    font-size: 16px;
    line-height: 17px;
    color: white;
    font-family: 'Geometria';
    padding-bottom: 30px;
}

.information{
    padding-top: 48px;
}



.name span{
    display: block;
    font-family: 'Geometria-Heavy';
    font-size: 32px;
    color: #04569f;
    position: relative;
    margin-bottom: 14px;
}
.map span{
    font-family: 'Geometria-Bold';
    font-size: 16px;
    color: #012646;
    position: relative;
    padding-left: 20px; 
}
.map span::before{
    content: "";
    background: url(../img/map.png);
    position: absolute;
    width: 22px;
    height: 25px;
    left: -12px;
    top: 0px;
}
.number span{
    font-family: 'Geometria-ExtraBold';
    position: relative;
    color: #012646;
    font-size: 20px;
    width: 225px;
    padding-left:10px;
    margin-left: 70px;
}
.name2 span{
    font-family: 'Geometria';
    font-size: 13px;
    color: #000000;
    position: relative;
    line-height: 5px;
}
.email span{
    font-family: 'Geometria-Bold';
    font-size: 16px;
    color: #012646;
    position: relative;
    padding-left: 20px; 
    height: 100px;
    position: absolute;
    top: 50%;
    margin-top: 10px;
}
.email span::before{
    content: "";
    background: url(../img/email.PNG);
    position: absolute;
    width: 25px;
    height: 20px;
    left: -16px;
    top: 0px;
}
.callback{
    font-family: 'Geometria-Medium';
    font-size: 13px;
    color: #012646;
    position: relative;
    display: flex;
    justify-content: left;
    top: 3px;
    width: 225px;
    padding-left:10px;
    margin-left: 70px;
}

.outline {
    border: 1px solid #012646;
    padding: 6px 2px;
}

.outline:hover{
    border: 1px solid #3887cf;
}

A{
    color: #012646;  
}

A:hover{
    text-decoration: none;
    color: #3887cf;
}

.selections{
    margin-left:0px;
    margin-right:0px;
    padding-left: 0px;
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

.collapse.navbar-collapse{
    padding-left: 0px;
    padding-right: 0px;
}

.navbar {
    margin: 70px 15px 0px 15px;
}

.navbar ul{
    padding-left: 0px;
}

.navbar li{
    background-color: #04569f; 
    display: table-cell;
    width: 1140px; 
}

.navbar li a{
    display: block; 
    position: relative;
    font-size: 16px;
    text-align:center;
    color:white;
    line-height: 60px;
}

.navbar ul li a:hover{
    background-color: #3887cf;

}

.navbar.navbar-default{
    background-color:white;
    border: none;

}

#banner{
    position: relative;
    text-align: center;
}

#banner img{
    max-width:100%;
}

#flesh{
    position: relative;
}

.sidebar{
    margin-bottom: 30px;
    margin-top: 30px; 
    margin-right: -15px;
}

.catalog{
    font-size: 22px;
    font-family: "Geometria-Bold";
    color: white;
    text-align: center;
    padding: 30px 0px;
    background: #04569f;
}


#sidebar-menu ul{
    position: relative;
    background: #f4f4f4;
    padding-left: 25px;
    padding-top: 38px;
}

#sidebar-menu ul li{
    list-style-type: none;
    width: 100%;
    padding-bottom: 60px;
}

#sidebar-menu ul li a{
    display: block;
    color: #303030;
    position:relative;
    font-family: "Geometria-Bold";
    font-size: 13px;
    margin-left: -40px;
}

#sidebar-menu ul a:hover{
    text-decoration: underline;
    color: #3887cf;
  }

#content A span{
    color: #787878;
    font-family: "Geometria";
    font-size: 15px;
}

#content A span:hover{
    color: #04569f;  
}

#content{
    min-height: 500px;
    padding-top: 25px;
    padding-left: 40px;
}
.content_inner{
    margin-bottom: 50px;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    color: #242f38;
    font-family: 'Geometria';
}

.content_inner ul.list{
    padding-left: 0px;
    color: #04569f;
}

.list li::before {
    content: "\2022";
    color: #04569f;
    font-weight: bold;
    display: inline-block;
    width: 19px;
    font-size: 25px;
    margin-left: 22px;
    float: left; }

.content_inner ul li span{
    color: #242f38;
    font-size: 14px;
}

p{
    margin-bottom: 20px; 
}

h1{
    font-family:"Geometria-Bold";
    color: #04569f;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 35px;
}

h2{
    font-size: 25px;
    font-family:"ProximaNova-Bold";
    color: #04569f;
    margin-bottom: 30px;
}

.content_inner2{
    margin-bottom: 100px;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
    font-family: 'Geometria';
}

.brands{
    font-size: 14px;
    font-family: "Geometria-Bold";
    color: white;
    text-align: left;
    padding-left:50px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 279px;
    background: #04569f;

}

.brand{
    padding-top: 0px;
    margin-left: -15px;
    background-color: #ecedee;
    margin-bottom: 60px;
}

.topnav ul{
    padding-left: 50px;
}

.topnav ul li{
    float: none;
    position: relative; 
    display: table-cell;
}
.topnav ul li a{
    text-decoration: none;
    position: relative;
    text-align:center;
    font-size: 16px;
    font-family: "Geometria-Bold";
    color: #04569f;
    padding: 0px 35px;
}

.topnav ul a:hover{
    text-decoration: underline;
    color: #3887cf;
  }

@media (max-width: 750px) {
    #header
    {
        text-align: center;
    }

    .name{
        margin-bottom: 30px;
    }

    .map{
        margin-bottom: 10px;
    }

    .number span{
        padding-left:0px;
        margin-left: 0px;
    }

    .number{
        padding-left:0px;
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .name2 span{
        padding-left: 0px; 
        margin-bottom: 10px;
    }

    .email{
        margin-left: 0px;
        padding-left: 0px; 
    }

    .callback{
        display:none;
    }

    #sidebar-menu img{
        display: none;
    }

    #sidebar-menu a{
        text-align: center;
    }

    #bs-example-navbar-collapse-1{
        margin-right: 30px;
    }

    .navbar.navbar-default{
        background-color: #04569f;
    }
    
    .navbar ul{
        padding-left: 0px;
    }
    
    .navbar li{
        display: flex; 
        justify-content: center;
        background-color: #04569f; 
        margin-left: 15px;
        width: 100%; 
    }
    
    .navbar ul li a{
        position: relative;
        text-align:center;
        color:white;
    }
    

    #banner img{
        padding-left:15px;
        padding-right:15px;
    }

    #content{
        padding-left: 15px;
    }

    .sidebar{
        margin-right: 0px;
    }

    .brands{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left:0px;
        width: 100%;
        background: #04569f;
    }
    .brand{
        margin-left: 0px;
    }

    .topnav{
        display:none;
    }
}

@media (min-width: 751px) and (max-width: 990px) {
    #header
    {
        padding-top: 0px;
        text-align:center;
    }

    .name2 span{
        display:none;
    }

    .navbar.navbar-default{
        background-color:#04569f;
    }

    #sidebar-menu img{
        display: none;
    }

    #sidebar-menu a{
        text-align: center;
    }

    #bs-example-navbar-collapse-1{
        margin-right: 30px;
    }

    .navbar.navbar-default{
        background-color: #04569f;
    }
    
    .navbar ul{
        padding-left: 0px;
    }
    
    .navbar li{
        display: flex; 
        justify-content: center;
        background-color: #04569f; 
        margin-left: 15px;
        width: 100%; 
    }
    
    .navbar ul li a{
        position: relative;
        text-align:center;
        color:white;
    }

    #banner img{
        padding-left:15px;
        padding-right:15px;
    }

    .number span{
        display:none;
    }

    .callback{
        display:none;
    }

    #content{
        padding-left: 15px;
    }

    .sidebar{
        margin-right:0px;
    }

    .brands{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
        background: #04569f;
    }
    .brand{
        margin-left: 0px;
    }

    .topnav{
        display:none;
    }

}