@font-face {
    font-family: 'Glyphicons';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('../fonts/glyphicons-halflings-regular.ttf') format('truetype');
  }

#header {
    font-size: 16px;
    line-height: 25px;
    color: blue;
    font-family: 'Glyphicons';
    padding-bottom: 30px;
    padding-top: 15px;
}

.information{
    margin-bottom: 30px;
}
.name span{
    position: relative;
    padding-left: 20px;
    font-weight: bold;
}
.map span{
    position: relative;
    padding-left: 24px;
}
.map span::before{
    content: "";
    background: url(../img/map.png);
    position: absolute;
    width: 24px;
    height: 17px;
    left: -12px;
    top: 0;
}