@font-face{
    font-family: 'Geometria-Heavy';
    src: url('../fonts/Geometria-Heavy.ttf');
}

@font-face{
    font-family: 'Geometria-Bold';
    src: url('../fonts/Geometria-Bold.ttf');
}

@font-face{
    font-family: 'Geometria-ExtraBold';
    src: url('../fonts/Geometria-ExtraBold.ttf');
}

@font-face{
    font-family: 'Geometria-Medium';
    src: url('../fonts/Geometria-Medium.ttf');
}

@font-face{
    font-family: 'Geometria';
    src: url('../fonts/Geometria.ttf');
}

#header{
    font-size: 16px;
    line-height: 17px;
    color: white;
    font-family: 'Geometria';
    padding-bottom: 30px;
}

.information{
    padding-top: 48px;
}



.name span{
    font-family: 'Geometria-Heavy';
    font-size: 32px;
    color: #04569f;
    position: relative;
}
.map span{
    font-family: 'Geometria-Bold';
    font-size: 16px;
    color: #012646;
    position: relative;
    padding-left: 20px; 
}
.map span::before{
    content: "";
    background: url(../img/map.png);
    position: absolute;
    width: 22px;
    height: 25px;
    left: -12px;
    top: 0px;
}
.number span{
    font-family: 'Geometria-ExtraBold';
    position: relative;
    color: #012646;
    font-size: 20px;
    width: 225px;
    padding-left:10px;
    margin-left: 70px;
}
.name2 span{
    font-family: 'Geometria';
    font-size: 13px;
    color: #000000;
    position: relative;
    line-height: 5px;
}
.email span{
    font-family: 'Geometria-Bold';
    font-size: 16px;
    color: #012646;
    position: relative;
    padding-left: 20px; 
    height: 100px;
    position: absolute;
    top: 50%;
    margin-top: 10px;
}
.email span::before{
    content: "";
    background: url(../img/email.PNG);
    position: absolute;
    width: 25px;
    height: 20px;
    left: -16px;
    top: 0px;
}
.callback span{
    font-family: 'Geometria-Medium';
    font-size: 13px;
    color: #012646;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: left;
    top: 3px;
    width: 225px;
    padding-left:10px;
    margin-left: 70px;
}

.outline {
    border: 1px solid blue;
    padding: 6px 2px;
}

.outline:hover{
    border: 1px solid #3887cf;
}

A{
    text-decoration: none;
}

A:hover{
    text-decoration: none;
    color: #012646;
}

.link{
    font-family: 'Geometria-Bold';
    font-size:16px; 
    color:white; 
    font-weight:bold
}

.link:hover{
    font-size:16px; 
    color:white; 
    font-weight:bold
}

.selections{
    margin-top:68px;
    margin-left: 15px;
    margin-right: 15px;
}

.menu{
    text-align: center;
    background: #04569f;
}

.selections-table{
    padding: 18px 18px 18px 18px;
}

.selections-table:hover{
    background: #3887cf;
}

#banner{
    text-align: center;
    position: relative;
}

#flesh{
    position: relative;
}

.sidebar{
    margin-bottom: 30px;
    margin-top: 30px; 
    margin-right: 30px;
}

.catalog{
    font-size: 22px;
    font-family: "Geometria-Bold";
    color: white;
    text-align: center;
    padding: 35px 0px;
    background: #04569f;
}

#sidebar-menu{
}

#sidebar-menu ul{
    padding-left: 37px;
    padding-right:55px;
    position: relative;
    margin: 0px;
    background: #f4f4f4;
    padding-top:20px;
    padding-bottom:20px;
}

#sidebar-menu ul li{
    list-style-type: none;
    width: 100%
}

#sidebar-menu ul li a{
    padding-left: 75px;
    display: block;
    color: #303030;
    position:relative;
    font-family: "Geometria-Bold";
    font-size: 13px;
    padding-top: 10px;
    padding-bottom:10px;
}

#sidebar-menu ul a:hover{
    text-decoration: underline;
    color: #3887cf;
  }

#sidebar-menu ul li a:before{
}

/*#sidebar-menu ul li a:nth-child(1){
    content: "";
    background: url(../img/logo1.png);
    position: absolute;
    width: 28px;
    height: 28px;
    left: 40px;
    top: 0px;
}*/

#content{
    min-height: 500px;
    padding-top: 10px;
}
.content_inner{
    margin-bottom: 50px;
    width: 100%;
    font-size: 15px;
    line-height: 25px;
    color: #363636;
    font-family: 'Times New Roman';
}

.li{
    color: #04569f;
}
.li span{
    color: #303030;
}

.brands{
    margin-right: 30px;
    font-size: 14px;
    font-family: "Geometria-Bold";
    color: white;
    text-align: left;
    padding-left:50px;
    padding-top: 20px;
    padding-bottom:20px;
    background: #04569f;
    margin-bottom: 60px;
}

.inform{
    padding-left:15px;
    margin-bottom:170px;
}

.topnav ul li {
    float: none;
    display: inline-block;
}
.topnav ul a {
    text-decoration: none;
    font-size: 16px;
    font-family: "Geometria-Bold";
    color: #04569f;
    text-transform: uppercase;
    padding: 0px 36px;
}

  .topnav ul a:hover{
    text-decoration: underline;
    color: #3887cf;
  }