@font-face{
    font-family: 'Geometria-Heavy';
    src: url('../fonts/Geometria-Heavy.ttf');
}

@font-face{
    font-family: 'Geometria-Bold';
    src: url('../fonts/Geometria-Bold.ttf');
}

@font-face{
    font-family: 'Geometria-ExtraBold';
    src: url('../fonts/Geometria-ExtraBold.ttf');
}

@font-face{
    font-family: 'Geometria-Medium';
    src: url('../fonts/Geometria-Medium.ttf');
}

@font-face{
    font-family: 'Geometria';
    src: url('../fonts/Geometria.ttf');
}

#header{
    font-size: 16px;
    line-height: 17px;
    color: white;
    font-family: 'Geometria';
    padding-bottom: 30px;
}

.information{
    padding-top: 48px;
}



.name span{
    font-family: 'Geometria-Heavy';
    font-size: 32px;
    color: #04569f;
    position: relative;
}
.map span{
    font-family: 'Geometria-Bold';
    font-size: 16px;
    color: #012646;
    position: relative;
    padding-left: 20px; 
}
.map span::before{
    content: "";
    background: url(../img/map.png);
    position: absolute;
    width: 22px;
    height: 25px;
    left: -12px;
    top: 0px;
}
.number span{
    font-family: 'Geometria-ExtraBold';
    position: relative;
    color: #012646;
    font-size: 20px;
    width: 225px;
    padding-left:10px;
    margin-left: 70px;
}
.name2 span{
    font-family: 'Geometria';
    font-size: 13px;
    color: #000000;
    position: relative;
    line-height: 5px;
}
.email span{
    font-family: 'Geometria-Bold';
    font-size: 16px;
    color: #012646;
    position: relative;
    padding-left: 20px; 
    height: 100px;
    position: absolute;
    top: 50%;
    margin-top: 10px;
}
.email span::before{
    content: "";
    background: url(../img/email.PNG);
    position: absolute;
    width: 25px;
    height: 20px;
    left: -16px;
    top: 0px;
}
.callback span{
    font-family: 'Geometria-Medium';
    font-size: 13px;
    color: #012646;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: left;
    top: 3px;
    width: 225px;
    padding-left:10px;
    margin-left: 70px;
}

.outline {
    border: 1px solid blue;
    padding: 6px 2px;
}

.outline:hover{
    border: 1px solid #3887cf;
}

A{
    text-decoration: none;
}

A:hover{
    text-decoration: none;
    color: #012646;
}

.link{
    font-family: 'Geometria-Bold';
    font-size:16px; 
    color:white; 
    font-weight:bold
}

.link:hover{
    font-size:16px; 
    color:white; 
    font-weight:bold
}

.selections{
    margin-top:68px;
    margin-left: 15px;
    margin-right: 15px;
}

.menu{
    text-align: center;
    background: #04569f;
}

.selections-table{
    padding: 18px 18px 18px 18px;
}

.selections-table:hover{
    background: #3887cf;
}

#banner{
    text-align: center;
    position: relative;
}


