@font-face {
    font-family: 'Glyphicons';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('../fonts/glyphicons-halflings-regular.ttf') format('truetype');
  }

#header {
    font-size: 30px;
    line-height: 50px;
    color: blue;
    font-family: 'Glyphicons';
    font-weight: 3000;
    padding-bottom: 30px;
    padding-top: 15px;
}